@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

.supported {
  display: none;
}

main::after {
  content: "sorry, you'll be needing a bigger screen";
}

@media (min-width: 800px) and (min-height: 1024px), (hover:hover) {
  main::after {
    content: "Tilt your screen to landscape mode";
  }  
}
@media (min-width: 1024px) and (min-height: 800px), (hover:hover) {
.supported {
    display: block;
  }

  main::after {
    content: "";
  }  
}